/* Estilos para las tarjetas */
.id-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #0e0d0d;
}

.id-card img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.id-card div {
  flex: 1;
  padding: 10px; 
  background-color: white; 
}


.id-card p {
  margin: 5px 0;
}


.Greeting {
  font-size: 40px;
  padding: 20px; /* Espaciado interno */
  margin-top: 30px; /* Espaciado superior */
  border: 3px solid #0e0d0d;
  
}

.Random {
  font-size: 40px;
  padding: 20px; /* Espaciado interno */
  margin-top: 30px; /* Espaciado superior */
  border: 3px solid #0e0d0d;
  line-height: 0.1;
}

.BoxColor {
  font-size: 30px;
  padding: 20px; /* Espaciado interno */
  margin-top: 30px; /* Espaciado superior */
  
}

